.hidden {
	display: none;
}
.btn {
	cursor : pointer;
}


.Ranking ul li  span {
	float: left;
	display: block;
}

.Ranking ul li span.name{
	font-weight: bold;

}

.Ranking ul li.last  {
	color : red;
}
.RRRR  {
	margin: 10px;
	font-size: 30px;
	color: red;

}

.Start {
	margin: 10px 0;
}
